<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Document</title>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1048.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <style>
        .container {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .sub-container {}

        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .select-language {
            display: flex;
            flex-direction: row;
            align-items: center;

        }

        /* #sourceLanguageCodeDropdown {
            width: 60px;
            height: 20px;
            margin-left: 10px;
        } */

        .left-side,
        .right-side {
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .group-btn {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .btn {
            width: 100px;
            height: 30px;
            margin-right: 10px;
        }

        .textract {
            margin-top: 20px;
            margin-left: 55px;
        }

        .translate-document {
            margin-top: 20px;
            margin-left: 55px;
        }
    </style>
    <div class="container">
        <h1>TRANSLATE WEBPAGE</h1>
        <div class="sub-container">
            <div class="content">
                <div class="left-side">
                    <div class="select-language">
                        <p>Source Language Code:</p>
                        <select class="form-select" id="sourceLanguageCodeDropdown">
                            <option value="auto">Auto</option>
                            <option value="af">Afrikaans</option>
                            <option value="sq">Albanian</option>
                            <option value="am">Amharic</option>
                            <option value="ar">Arabic*</option>
                            <option value="hy">Armenian</option>
                            <option value="az">Azerbaijani</option>
                            <option value="bn">Bengali</option>
                            <option value="bs">Bosnian</option>
                            <option value="bg">Bulgarian</option>
                            <option value="ca">Catalan</option>
                            <option value="zh">Chinese (Simplified)*</option>
                            <option value="zh-TW">Chinese (Traditional)</option>
                            <option value="hr">Croatian</option>
                            <option value="cs">Czech</option>
                            <option value="da">Danish*</option>
                            <option value="fa-AF">Dari</option>
                            <option value="nl">Dutch*</option>
                            <option value="en">English*</option>
                            <option value="et">Estonian</option>
                            <option value="fa">Farsi (Persian)</option>
                            <option value="tl">Filipino, Tagalog</option>
                            <option value="fi">Finnish</option>
                            <option value="fr">French*</option>
                            <option value="fr-CA">French (Canada)</option>
                            <option value="ka">Georgian</option>
                            <option value="de">German</option>
                            <option value="el">Greek</option>
                            <option value="gu">Gujarati</option>
                            <option value="ht">Haitian Creole</option>
                            <option value="ha">Hausa</option>
                            <option value="he">Hebrew</option>
                            <option value="hi">Hindi</option>
                            <option value="hu">Hungarian</option>
                            <option value="is">Icelandic</option>
                            <option value="id">Indonesian</option>
                            <option value="ga">Irish</option>
                            <option value="it">Italian</option>
                            <option value="ja">Japanese*</option>
                            <option value="kn">Kannada</option>
                            <option value="kk">Kazakh</option>
                            <option value="ko">Korean*</option>
                            <option value="lv">Latvian</option>
                            <option value="lt">Lithuanian</option>
                            <option value="mk">Macedonian</option>
                            <option value="ms">Malay</option>
                            <option value="ml">Malayalam</option>
                            <option value="mt">Maltese</option>
                            <option value="mr">Marathi</option>
                            <option value="mn">Mongolian</option>
                            <option value="no">Norwegian</option>
                            <option value="ps">Pashto</option>
                            <option value="pl">Polish</option>
                            <option value="pt">Portuguese*</option>
                            <option value="pt-PT">Portuguese (Portugal)</option>
                            <option value="pa">Punjabi</option>
                            <option value="ro">Romanian</option>
                            <option value="ru">Russian*</option>
                            <option value="sr">Serbian</option>
                            <option value="si">Sinhala</option>
                            <option value="sk">Slovak</option>
                            <option value="sl">Slovenian</option>
                            <option value="so">Somali</option>
                            <option value="es">Spanish*</option>
                            <option value="es-MX">Spanish (Mexico)</option>
                            <option value="sw">Swahili</option>
                            <option value="sv">Swedish</option>
                            <option value="ta">Tamil</option>
                            <option value="te">Telugu</option>
                            <option value="th">Thai</option>
                            <option value="tr">Turkish</option>
                            <option value="uk">Ukrainian</option>
                            <option value="ur">Urdu</option>
                            <option value="uz">Uzbek</option>
                            <option value="vi">Vietnamese</option>
                            <option value="cy">Welsh</option>
                        </select>
                    </div>
                    <textarea id="inputText" name="inputText" rows="20" cols="90"
                        placeholder="Text to translate..."></textarea>

                    <div class="group-btn">
                        <button class="translate-btn btn" onclick="doTranslate()">TRANSLATE</button>
                        <button class="poly-btn btn" onclick="doSynthesizeInput()"><i
                                class="fa fa-volume-up text-light"></i></button>
                        <button class="clear-btn btn" onclick="clearInputs()">Clear</button>
                        <button class="btn upload-btn" id="upload" onclick="loadFileAsText()"><i
                                class="fa fa-upload text-light"></i></button>
                        <button class="download-btn btn"><i class="fa fa-download" onclick="Export2Word()"></i></button>
                    </div>
                </div>
                <div class="swap">
                    <button class="swap" onclick="swapText()">Swap</button>
                </div>
                <div class="right-side">
                    <div class="select-language">
                        <p>Target Language Code:</p>
                        <select class="form-select" id="targetLanguageCodeDropdown">
                            <option value="af">Afrikaans</option>
                            <option value="sq">Albanian</option>
                            <option value="am">Amharic</option>
                            <option value="ar">Arabic*</option>
                            <option value="hy">Armenian</option>
                            <option value="az">Azerbaijani</option>
                            <option value="bn">Bengali</option>
                            <option value="bs">Bosnian</option>
                            <option value="bg">Bulgarian</option>
                            <option value="ca">Catalan</option>
                            <option value="zh">Chinese (Simplified)*</option>
                            <option value="zh-TW">Chinese (Traditional)</option>
                            <option value="hr">Croatian</option>
                            <option value="cs">Czech</option>
                            <option value="da">Danish*</option>
                            <option value="fa-AF">Dari</option>
                            <option value="nl">Dutch*</option>
                            <option value="en">English*</option>
                            <option value="et">Estonian</option>
                            <option value="fa">Farsi (Persian)</option>
                            <option value="tl">Filipino, Tagalog</option>
                            <option value="fi">Finnish</option>
                            <option value="fr">French*</option>
                            <option value="fr-CA">French (Canada)</option>
                            <option value="ka">Georgian</option>
                            <option value="de">German</option>
                            <option value="el">Greek</option>
                            <option value="gu">Gujarati</option>
                            <option value="ht">Haitian Creole</option>
                            <option value="ha">Hausa</option>
                            <option value="he">Hebrew</option>
                            <option value="hi">Hindi</option>
                            <option value="hu">Hungarian</option>
                            <option value="is">Icelandic</option>
                            <option value="id">Indonesian</option>
                            <option value="ga">Irish</option>
                            <option value="it">Italian</option>
                            <option value="ja">Japanese*</option>
                            <option value="kn">Kannada</option>
                            <option value="kk">Kazakh</option>
                            <option value="ko">Korean*</option>
                            <option value="lv">Latvian</option>
                            <option value="lt">Lithuanian</option>
                            <option value="mk">Macedonian</option>
                            <option value="ms">Malay</option>
                            <option value="ml">Malayalam</option>
                            <option value="mt">Maltese</option>
                            <option value="mr">Marathi</option>
                            <option value="mn">Mongolian</option>
                            <option value="no">Norwegian</option>
                            <option value="ps">Pashto</option>
                            <option value="pl">Polish</option>
                            <option value="pt">Portuguese*</option>
                            <option value="pt-PT">Portuguese (Portugal)</option>
                            <option value="pa">Punjabi</option>
                            <option value="ro">Romanian</option>
                            <option value="ru">Russian*</option>
                            <option value="sr">Serbian</option>
                            <option value="si">Sinhala</option>
                            <option value="sk">Slovak</option>
                            <option value="sl">Slovenian</option>
                            <option value="so">Somali</option>
                            <option value="es">Spanish*</option>
                            <option value="es-MX">Spanish (Mexico)</option>
                            <option value="sw">Swahili</option>
                            <option value="sv">Swedish</option>
                            <option value="ta">Tamil</option>
                            <option value="te">Telugu</option>
                            <option value="th">Thai</option>
                            <option value="tr">Turkish</option>
                            <option value="uk">Ukrainian</option>
                            <option value="ur">Urdu</option>
                            <option value="uz">Uzbek</option>
                            <option value="vi">Vietnamese</option>
                            <option value="cy">Welsh</option>
                        </select>
                    </div>
                    <textarea id="outputText" name="outputText" rows="20" cols="90"
                        placeholder="Translated text..."></textarea>
                    <div class="group-btn">
                        <button class="poly-btn btn"><i class="fa fa-volume-up text-light"></i></button>
                        <button class="download-btn btn"><i class="fa fa-download" onclick="Export2Word1()"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="textract">
            <p>Textract image</p>
            <form method="POST" , action="/extracttext" , enctype="multipart/form-data" class="main__menu--tool-form1">
                <input style="color:black" type="file" , name="filename" , id="filename" class="filebutton" />
                <button type="submit" class="btn btn-primary">EXTRACT</button>
                <!--                <button class="btn btn-success" onclick="Export2Word();">DOWNLOAD FILE</button>-->

            </form>

        </div>
        <div class="translate-document">
            <p>Translate document</p>
            <form method="POST" , action="/translatedocument" , enctype="multipart/form-data" class="main__menu--tool-form1">
                <input style="color:black" type="file" , name="filenameDocument" , id="filenameDocument" class="filebutton" />
                <!--                <button class="btn btn-success" onclick="Export2Word();">DOWNLOAD FILE</button>-->
                <button type="submit" id="btnDocument" class="btn btn-primary"">EXTRACT</button>

            </form>
        </div>
    </div>

    <script>
        // set the focus to the input box
        document.getElementById("inputText").focus();

        AWS.config.region = 'us-east-1'; // Region
        AWS.config.credentials = new AWS.Credentials("AKIA6GUTAKM37AK5BHFD", "0ZkefHsvjCrKfjhuuBzUxnqdIgfiMdFTY7hKQFif");

        var translate = new AWS.Translate({ region: AWS.config.region });
        var polly = new AWS.Polly();
        var s3 = new AWS.S3();

        document.getElementById("dload").onclick = function () {
            var l = document.createElement("a");
            l.href = "data:text/plain;charset=UTF-8," + document.getElementById("outputText").value;
            l.setAttribute("output_download", document.getElementById("dload-fn").value);
            l.click();
        }

        function Export2Word(filename = "") {
                var preHtml =
                    "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                var postHtml = "</body></html>";
                var html =
                    preHtml + document.getElementById('inputText').value + postHtml;

                var blob = new Blob(["\ufeff", html], {
                    type: "application/msword",
                });
                var url =
                    "data:application/vnd.ms-word;charset=utf-8," +
                    encodeURIComponent(html);
                filename = filename ? filename + ".doc" : "Translate_Input.doc";
                var downloadLink = document.createElement("a");
                document.body.appendChild(downloadLink);
                if (navigator.msSaveOrOpenBlob) {
                    navigator.msSaveOrOpenBlob(blob, filename);
                } else {
                    downloadLink.href = url;
                    downloadLink.download = filename;
                    downloadLink.click();
                }
                document.body.removeChild(downloadLink);
            }

            function Export2Word1(filename = "") {
                    var preHtml =
                        "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:w='urn:schemas-microsoft-com:office:word' xmlns='http://www.w3.org/TR/REC-html40'><head><meta charset='utf-8'><title>Export HTML To Doc</title></head><body>";
                    var postHtml = "</body></html>";
                    var html =
                        preHtml + document.getElementById('outputText').value + postHtml;

                    var blob = new Blob(["\ufeff", html], {
                        type: "application/msword",
                    });
                    var url =
                        "data:application/vnd.ms-word;charset=utf-8," +
                        encodeURIComponent(html);
                    filename = filename ? filename + ".doc" : "Translate_Output.doc";
                    var downloadLink = document.createElement("a");
                    document.body.appendChild(downloadLink);
                    if (navigator.msSaveOrOpenBlob) {
                        navigator.msSaveOrOpenBlob(blob, filename);
                    } else {
                        downloadLink.href = url;
                        downloadLink.download = filename;
                        downloadLink.click();
                    }
                    document.body.removeChild(downloadLink);
                }
        function loadFileAsText() {
            var fileToLoad = document.getElementById("filename").files[0];

            var fileReader = new FileReader();
            fileReader.onload = function (fileLoadedEvent) {
                var textFromFileLoaded = fileLoadedEvent.target.result;
                document.getElementById("inputText").value = textFromFileLoaded;
            };
            fileReader.readAsText(fileToLoad, "UTF-8");
        }

        document.getElementById('inputText').onkeypress = function (e) {
            if (e.keyCode == 13) {
                document.getElementById('translate').click();
            }
        }

        function doTranslate() {
            var inputText = document.getElementById('inputText').value;
            if (!inputText) {
                alert("Vui lòng nhập văn bản bạn muốn dịch");
                exit();
            }

            // get the language codes
            var sourceDropdown = document.getElementById("sourceLanguageCodeDropdown");
            var sourceLanguageCode = sourceDropdown.options[sourceDropdown.selectedIndex].value;

            var targetDropdown = document.getElementById("targetLanguageCodeDropdown");
            var targetLanguageCode = targetDropdown.options[targetDropdown.selectedIndex].value;

            var params = {
                Text: inputText,
                SourceLanguageCode: 'en',
                TargetLanguageCode: 'vi'
            };

            translate.translateText(params, function (err, data) {
                if (err) {
                    console.log(err, err.stack);
                    alert("Error calling Amazon Translate. " + err.message);
                    return;
                }
                if (data) {
                    var outputTextArea = document.getElementById('outputText');
                    outputTextArea.value = data.TranslatedText;
                }
            });
        }

        function doSynthesizeInput() {
            var text = document.getElementById('inputText').value.trim();
            if (!text) {
                return;
            }
            var sourceLanguageCode = document.getElementById("sourceLanguageCodeDropdown").value;
            doSynthesize(text, sourceLanguageCode);
        }

        function doSynthesizeOutput() {
            var text = document.getElementById('outputText').value.trim();
            if (!text) {
                return;
            }
            var targetLanguageCode = document.getElementById("targetLanguageCodeDropdown").value;
            doSynthesize(text, targetLanguageCode);
        }

        function doSynthesize(text, languageCode) {
            var voiceId;
            switch (languageCode) {
                case "ar":
                    voiceId = "Zeina";
                    break;
                case "da":
                    voiceId = "Mads";
                    break;
                case "nl":
                    voiceId = "Ruben";
                    break;
                case "de":
                    voiceId = "Marlene";
                    break;
                case "zh":
                    voiceId = "Zhiyu";
                    break;
                case "en":
                    voiceId = "Joanna";
                    break;
                case "es":
                    voiceId = "Penelope";
                    break;
                case "fr":
                    voiceId = "Celine";
                    break;
                case "pt":
                    voiceId = "Vitoria";
                    break;
                case "ja":
                    voiceId = "Takumi";
                    break;
                case "ko":
                    voiceId = "Seoyeon";
                    break;
                case "ru":
                    voiceId = "Maxim";
                    break;
                default:
                    voiceId = null;
                    break;
            }
            if (!voiceId) {
                alert("Hiện tại chưa hỗ trợ giọng nói cho ngôn ngữ \"" + languageCode + "\"");
                return;
            }
            var params = {
                OutputFormat: "mp3",
                SampleRate: "8000",
                Text: text,
                TextType: "text",
                VoiceId: voiceId
            };
            polly.synthesizeSpeech(params, function (err, data) {
                if (err) {
                    console.log(err, err.stack); // an error occurred
                    alert("Error calling Amazon Polly. " + err.message);
                }
                else {
                    var uInt8Array = new Uint8Array(data.AudioStream);
                    var arrayBuffer = uInt8Array.buffer;
                    var blob = new Blob([arrayBuffer]);
                    var url = URL.createObjectURL(blob);

                    audioElement = new Audio([url]);
                    audioElement.play();
                }
            });
        }

        function clearInputs() {
            document.getElementById('inputText').value = "";
            document.getElementById('outputText').value = "";
            document.getElementById("sourceLanguageCodeDropdown").value = "auto";
            document.getElementById("targetLanguageCodeDropdown").value = "vi";
            document.getElementById("filename").value = "";
        }
        function swapText() {
            let inputText = document.getElementById('inputText').value;
            let outputText = document.getElementById('outputText').value;
            document.getElementById('inputText').value = outputText;
            document.getElementById('outputText').value = inputText;

            let source = document.getElementById("sourceLanguageCodeDropdown").value;
            let target = document.getElementById("targetLanguageCodeDropdown").value;
            document.getElementById("sourceLanguageCodeDropdown").value = target;
            document.getElementById("targetLanguageCodeDropdown").value = source;
        }
    </script>
    <p id="data_extract">{{jsonData}}</p>
    <script>
        let data = document.getElementById('data_extract').innerHTML;
        let dataFromApi = JSON.parse(data);
        let value = dataFromApi.text
        console.log("value json test=", data);
        document.getElementById('inputText').value = value
    </script>

</body>

</html>